.PollContainer--container{
    display: flex;
    background-color: green;
    overflow: scroll;
    justify-content: center;
    align-items: center;
}

.Polldialogue--question{
    display: flex;
}
