.about-us {
    margin: 15px 70px 0px 50px;
  }
  
  .About-developers {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
  }
  
  .About-developer-card {
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.575);
    backdrop-filter: blur(10px); /* Apply the blur effect */
    padding: 10px;
    margin-bottom: 10px;
    flex-direction: column;
    transition: all .7s ease-in-out;
    border-radius: 15px;
    align-items: center;
  }

  .About-developer-card:hover{
    transform: scale(1.1);
}

  .About-para{
    padding-top: 10px;
    margin: auto;
    text-align: center;
    font-family: forte;
    width: 80vw;
  }

  
  .About-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    
  }
  
  .About-profileImage {
    width: 100%;

  }
  
  .About-developer-info{
    text-align: center;
  }