.about-us {
    margin: 15px 70px 0px 50px;
  }
  
  .About-developers {
    display: flex;
    justify-content: space-between;
    margin-left: 5vw;
  }
  
  .About-developer-card {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
  }
  
  .About-profile-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    
  }
  
  .About-profileImage {
    width: 100%;

  }
  
  